@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Site Features</h2>
        <ul>
            <li>Viewing Teachers and Students</li>
            <li>CRUD operations on Teachers and Students</li>
            <li>Bulk uploading a properly formatted .csv file of Students or Teachers</li>
            <li>Paginated results</li>
            <li>Searching each by name, number and ID</li>
            <li>Adding students to teachers</li>
        </ul>
    </div>
</div>
